html,
body {
  font-size: 100%;
}

body {
  color: #18191f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
   font-family: "Open Sans", Arial, sans-serif;
}

a {
  outline: none;
  color: #18191f;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.container {
  width: 1110px;
  margin: 40px auto;
}

.left {
  float: left;
}

.right {
  float: right;
}
